<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Module Unit">
            <directory>Modules/Projects/tests/Unit</directory>
            <directory>Modules/Tasks/tests/Unit</directory>
            <directory>Modules/Activity/tests/Unit</directory>
            <directory>Modules/Dashboard/tests/Unit</directory>
            <directory>Modules/Media/tests/Unit</directory>
        </testsuite>
        <testsuite name="Module Feature">
            <directory>Modules/Projects/tests/Feature</directory>
            <directory>Modules/Tasks/tests/Feature</directory>
            <directory>Modules/Activity/tests/Feature</directory>
            <directory>Modules/Dashboard/tests/Feature</directory>
            <directory>Modules/Media/tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>Modules</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file" force="true"/>
        <env name="BCRYPT_ROUNDS" value="4" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="DB_FOREIGN_KEYS" value="true" force="true"/>
        <env name="FILESYSTEM_DISK" value="local" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="LARAVEL_STORAGE_PATH" value="/tmp/taskflow-testing-storage" force="true"/>
        <env name="APP_PACKAGES_CACHE" value="/tmp/taskflow-testing-packages.php" force="true"/>
        <env name="APP_SERVICES_CACHE" value="/tmp/taskflow-testing-services.php" force="true"/>
        <env name="APP_CONFIG_CACHE" value="/tmp/taskflow-testing-config.php" force="true"/>
        <env name="APP_ROUTES_CACHE" value="/tmp/taskflow-testing-routes.php" force="true"/>
        <env name="APP_EVENTS_CACHE" value="/tmp/taskflow-testing-events.php" force="true"/>
        <env name="VIEW_COMPILED_PATH" value="/tmp" force="true"/>
        <env name="LOG_CHANNEL" value="errorlog" force="true"/>
        <env name="PULSE_ENABLED" value="false" force="true"/>
        <env name="TELESCOPE_ENABLED" value="false" force="true"/>
        <env name="NIGHTWATCH_ENABLED" value="false" force="true"/>
    </php>
</phpunit>
